$primary: #3d64ff;  

// import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "altgreen": #0eb582,
    "altdanger": #e74d57,
    "deepred": #FF1949,
    "altpurple": #9764df,
    "altblue": #3d64ff,
    "altlemon": #0eb582,
    "lightgreen": #1cb5a3
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "~bootstrap/scss/bootstrap-utilities";

//Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
  )
);

// IMPORT BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap.scss'